
:root{
  --lightblue:#3ec1f9;
  --blue:#006A95;
  --orange: #EE6C4D;
  --darkblue: #08374A; 
}


*{
  font-family: 'Arial', sans-serif;
}

body {
	background: url('Image/imgbackground.PNG') no-repeat;
	background-size: cover;
  background-position: center;
  height: 100%;
	color: #fff;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  background-attachment: fixed;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2%;
    box-shadow: 0 0 10px rgba(85, 75, 75, .7);
    height: 1.5rem;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    background: white;
}

.header .logo{
  margin-top: 5px;
}

.header .navbar{
    margin: 5rem;
}

.header .navbar a{
    padding:0 1rem;
    font-size: 1.2rem;
    color: #006A95;
    text-decoration: none;
}

.header .navbar a:hover{
    color: #EE6C4D;
    border-bottom: .1rem solid #EE6C4D;
    padding-bottom: .5rem;
    transition: .3s linear;
} 

.header p{
    font-size: 2rem;
    color: #006A95;
}

div{
	background-color: white;
    width: 600px;
    height: fit-content;
    margin: auto;
    padding: 50px;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    border: solid 1px grey;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(85, 75, 75, .7);
}


/* .registration-form {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
} */


.registration-form h2 {
	font-size: 40px;
	color: #006A95;
	text-align: center;
  margin-top: -15px
}

.registration-form h3 {
	font-size: 20px;
	color: #006A95;
	text-align: left;
}

.registration-form h4  {
	font-size: 20px;
	color: #006A95;
	text-align: left;
}

.registration-form p {
	font-size: 16px;
	color: black;
}

.registration-form input {
	font-size: 16px;
	padding: 10px 10px;
	margin: 5px 0;
	width: 95%;
	border-radius: 3px;
	outline: none;
  border: solid 1px grey;
  box-shadow: 0 1px 4px rgba(85, 75, 75, .7);
}

.registration-form button {
  font-size: 16px;
	color: white;
	display: flex;
	margin: auto;
	padding: 10px 25px;
	border-radius: 5px;
	background-color:#006A95;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  margin-top: 2rem;
}

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border: 1px solid black;
  
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
  border: 1px solid black;
}

.container input:checked ~ .checkmark {
  background-color: var(--blue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container p{
  font-weight: 400;
  color: #1f1f1f;
}

.registration-form button:hover {

}